<div fxFlex="100" fullscreen fxLayout="row">
  <div fxFlex="65">
    <canvas baseChart
            [datasets]="data"
            [labels]="labels"
            [options]="barChartOptions"
            chartType="bar"></canvas>
  </div>
  <div fxFlex="35">
    <div>
      <span>Дата начала</span>
      <input matInput [matDatepicker]="picker1" placeholder="Выберите дату">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </div>

    <div>
      <span>Дата конца</span>
      <input matInput [matDatepicker]="picker2" placeholder="Выберите дату">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </div>

    <div>
      <span>Минимальный результат</span>
      <mat-slider></mat-slider>
    </div>

    <div>
      <span>Максимальный результат</span>
      <mat-slider></mat-slider>
    </div>
  </div>
</div>
